body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     margin: 0;
    background-color: #f0f0f0;
}
.user_sign_up_card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    opacity: 0.8
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 80px; /* 固定标签宽度 */
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    flex: 1; /* 输入框占据剩余空间 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4ecdc4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4ecdc4;
}

.user_login_card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    opacity: 0.8
}
.background-image {
    position: fixed; /* 固定位置 */
    bottom: 0; /* 底部对齐 */
    left: 0; /* 左侧对齐 */
    width: 100%; /* 宽度铺满 */
    height: 100%; /* 高度铺满 */
    z-index: -1; /* 确保图片在内容下方 */
    background-size: cover; /* 图片覆盖整个区域 */
    background-position: center; /* 图片居中 */
}

/* 确保图片是可见的 */
.background-image img {
    width: 100%;
    height: auto;
    display: block;
}